@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);


.product-navbar {
    height: 40px;
    width: 100%;
    /* background: #171010;
    border-bottom: 1px solid #090b0f; */
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;

    .product-navbar-centered {
      max-width: 90vw;
      height: 20px;
      margin: 0 5vw;

        ul {
            margin: 0;
            padding: 0;

            li {
                float: left;
                list-style: none;
                margin-right: 30px;
                padding-top: 9px;

                a {
                    color: #6f7782;
                    font-size: 12px;
                    font-weight: 700;
                    text-decoration: none;
                    text-transform: uppercase;
                    text-shadow: none !important;
                }
            }
        }
    }
}

.hero {
//   background: $bgDark;
  padding-left: 0;
  padding-right: 0;
  
  .container {
    margin: 0 5vw;
    padding: 0 0vw;
    max-width: 90vw;
  }
  
  .navbar-brand {
    color: #fff;
    
    img {
      margin-right: 7px;
      margin-top: -7px;
    }
  }
}

/* // BASE STYLES END */
.team-image{
    // margin-top: 5%;
    /* display: flex; */
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;   
    background-color: #fff;
}

.team-image .t_image{
    width: 70%;
    height: 90%;
}

.img-2{
    // padding-top: 80px;
    display: flex;
    align-items: center;
}

/* // PAGE SPECIFIC STYLES */
#about-main {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    background-color: #fff;

    .row {
        margin-left: 0;
        margin-right: 0;
    }

  

    .story-container {
        height: 100%;
        width: 100%;
        margin-top: 150px;
      
        @media (max-width: 640px) {
          margin-top: 80px;
        }

        .container-divider {
            margin-top: 100px;
          
            @media (max-width: 640px) {
              margin-top: 50px;
            }
        }

        .need-for-dx-container, .our-tech-container, .origin-story-container, .today-container {
            max-width: 950px;
            margin: 0 auto;
            padding: 0 20px;
          
            @media (max-width: 815px) {
                width: 100%;
            }

            .img-container {
                width: 100%;
                display: flex;
                justify-content: center;

                img {
                  margin: 50px auto;
                }
            }

            h3 {
                // color: $about-section-heading-blue;
                color: blueviolet;
            }

            p {
                font-size: 15px;
                margin-top: 20px;
                color: black;
              
                @media (max-width:640px) {
                    font-size: 13px;
                }
            }

            ul {
                margin-top: 30px;
                list-style-image: url('https://apimatic.io/img/theme/aboutUs/bullet.svg');

                li {
                    line-height: 25px;
                    padding-left: 5px;
                    color: black;
                }
            }
        }
    }
}
