.dashboard_container {
    width: 98%;
    height: 80vh;
    margin: 10px;
    display: flex;
    /* background-color: rgb(209, 209, 209); */
}


.courses_section {
    width: 100%;
    margin: 30px;
    padding: 20px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(112, 144, 176, 0.18) 14px 17px 40px 4px;
    border-radius: 20px;
}

.courses_section span {
    width: 100%;
    height: 20%;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses_section hr {
    width: 60px;
    margin-top: 10px;
    text-align: center;
}

.courses {
    width: 100%;
    height: auto;
    padding: 20px auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: scroll;
    gap: 12px;
}

.card {
    /* width: 30vh;
    
    background-color: #fff;
    box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
    
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 5px 15px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 15px; */

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    width: 25rem;
    height: 20rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: .8rem;
    background-color: #fff;
}


.button {
    display: grid;
    place-items: center;
    margin-top: 10px;
    width: 100%;
}

.image {
    width: 19rem;
    height: 120px;
    margin: 10px auto;

}

.card p {
    text-align: justify;
    margin-top: 10px;
}

@media (max-width: 1650px) {
    .courses {
        overflow-x: scroll;
        padding-top: 5px;
    }
}

@media (max-width: 768px) {
    .card {
        width: auto;
    }

}