



.container{
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9faf9;

}

.footer{
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}



.link_sec a{
    color: #6b6b6b;
}


.link_sec h3{
    font-size: 20px;
    margin-bottom: 10px;
    color: #37423b;
}

.subscribe_sec{
  
    height: 120px;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
    border: none;
}

.botton_footer{
    width: 100%;
}



@media (max-width: 892px){
    .container{
        height: auto;
        padding: 20px 0;
    }

    .link_sec h3{
        font-size: 15px;
        margin-bottom: 5px;
        margin-top: 10px;
        color: #37423b;
    }

    .link_sec p{
        font-size: 10px;
        margin-bottom: 5px;
      
        color: #37423b;
    }

    .link_sec a{
        font-size: 10px;
        margin-bottom: 5px;
        color: #37423b;
    }
    
}












