



.container{
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9faf9;

}

.footer{
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}



.link_sec a{
    color: #6b6b6b;
}


.link_sec h3{
    font-size: 20px;
    margin-bottom: 10px;
    color: #37423b;
}

.subscribe_sec{
  
    height: 120px;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
    border: none;
}

.botton_footer{
    width: 100%;
    padding: 10px 9vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.link{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container2{
    font-size: 12px;
    color: rgb(60, 60, 60);
}


.topbtn{
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
    z-index: 9999;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    color: #fff;
    padding: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #7024cd;
    border-radius: 50%;
}

.icon{
    animation: gototop 1.2s linear infinite alternate-reverse;
}

@keyframes gototop {
    0%{
        transform: translateY(-0.2rem);
    }

    100%{
        transform: translateY(.2rem);
    }
}

@media (max-width: 892px){
    .container{
        height: auto;
        padding: 20px 0;
    }

    .link_sec h3{
        font-size: 15px;
        margin-bottom: 5px;
        margin-top: 10px;
        color: #37423b;
    }

    .link_sec p{
        font-size: 10px;
        margin-bottom: 5px;
      
        color: #37423b;
    }

    .link_sec a{
        font-size: 10px;
        margin-bottom: 5px;
        color: #37423b;
    }
    
}












