*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }
  .div{
    color:red;
  }
 
#navbar{
    background-color: aliceblue;
    min-height: 100vh;
    padding: 20px;
    display: flex;
}
.nav-left{
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nav-left ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: 20px;
}
.nav-left ul li{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    cursor: pointer;
}
.nav-left ul li p{
    margin: 0;
}
.nav-left button{
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: flex-start;
    gap: 10px;
}
.menu{
    position: fixed;
    top: 5%;
    left: 3%;
    display: none;
}
/* --------------------------nav-center */
.nav-center{
    background: #fff;
    width: calc(100% - 200px);
    min-height: 90vh;
    display: flex;
    border-radius: 20px;
}
.nav-right{
    width: 240px;
    /* float: right; */
    padding: 0 20px;
    border-radius: 0 20px 20px 0;
    height: 100%;
    background-color: #fdfdfd;
}
.profile-img{
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile-img h3{
    margin: 0 ;
    margin-top: 20px;
}

/* ---------------------- */
.remainder{
    padding-top: 20px;
}
.remainder-icon{
    width: 60px;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #f3b0e7;
}
.center-div{
    width: calc(100% - 240px);
    /* float: left; */
}

/* ------------ */
.average{
    height: 170px;
    border-radius: 10px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: #FFF;
    letter-spacing: 2px;
    background-color: royalblue;
}
.product{
    width: 45%;
    height: 170px;
    background-color: aqua;
    border-radius: 10px;
}


@media screen and (max-width:1000px) {
    .nav-left{
        width: 60px;
    }
    .nav-left ul{
        gap: 30px;
    }
    .nav-left ul li p{
        display: none;
    }
    .nav-left button p{
        display: none;
    }
    .nav-center{
        width: calc(100% - 60px);
    }
}
@media screen and (max-width:800px){
    .nav-center{
        flex-direction: column-reverse;
    }
    .nav-right{
        width: 100%;
        border-radius: 20px ;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .remainder{
        padding: 0;
    }
    .center-div{
        width: 100%;
    }
}
@media screen and (max-width:500px){
    .nav-left{
        /* width: 0px; */
        position: fixed;
        /* border: 2px solid red; */
        left: 0;
        padding: 0 30px;
        box-shadow: 0 0 5px black;
        top: 0;
        width: fit-content;
        display: none;
        height: 100vh;
        background-color: #fff;
    }
    .nav-left ul li p{
        display: block;
    }
    .nav-left button p{
        display: block;
    }
    .nav-center{
        width:100% ;
    }
    .nav-right{
        flex-direction: column;
    }
    .remainder{
        width: 100%;
    }
}