
.sidebar_container{
    /* margin-top: 10px; */
    display: flex;
    flex-direction: row;
}



.sidebar {
    background: #fefeff;
    color: #364050;
    height: 100vh;
    width: 250px;

    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 0.5s;

    box-shadow: rgba(112, 144, 176, 0.18) 14px 17px 40px 4px;
}

.top_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.link_section{
    height: 40%;
    margin-top: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.link{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #364050;
    font-size: 1rem;

    cursor: pointer;
    padding: 10px 20px 5px 15px;
    margin-top: 10%;
}

.link_text{
    padding-left: 20px;
} 

.logout_button{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 10px;
    padding: 10px 20px 5px 15px;
    cursor: pointer;
}